<span class="afs-crimson">crimson text</span><br />
<em class="afs-crimson">crimson text</em><br />
<strong class="afs-crimson">crimson text</strong>

<br /><br />

<span class="afs-pt-sans">pt sans text</span><br />
<em class="afs-pt-sans">pt sans text</em><br />
<strong class="afs-pt-sans">pt sans text</strong>

<br /><br />

<span class="afs-tex-gyre-cursor">tex gyre text</span><br />
<strong class="afs-tex-gyre-cursor">tex gyre text</strong>

<!--
<br /><br />

<span class="afs-tex-gyre-cursor">tex gyre cursor text</span>
<br />
<span>default text</span>
-->

<br /><br />

<span>default text</span><br />
<em>default text</em><br />
<strong>default text</strong>