<% var posts = public.posts._data; -%>

<ul>
    <% for (var post in posts) { -%>
        <li>
            <a href="posts/<%= post %>"><%= posts[post].title %></a>
            <br>
            <%= posts[post].date %>
            <br>
            <%= posts[post].description %>
        </li>
    <% } -%>
</ul>